page-home {
  .btn-setting {
    position: absolute;
    right: 10px;
    top: 10px;
    button {
      color: map-get($colors, 'primary')
    }
  }
  .follow-items {
    .follow-item {
      height: 80px;
      line-height: 40px;
      color: #fff;
    }
    .bg-1 {
      background-color: map-get($colors, 'primary');
    }
    .bg-2 {
      background-color: #ff9900;
    }
    .bg-3 {
      background-color: #ff0400;
    }
    .bg-4 {
      background-color: #ccccff;
    }
  }
  .alert-item {
    height: 60px;
    width: 50%;
    margin: 10px auto 5px;
    line-height: 30px;
    background-color: map-get($colors, 'primary');
    color: #fff;
  }
}