<ion-content class="bg-slight">

  <!-- 已登录 -->
  <ion-row *ngIf="isLogin" [navPush]="BaseInfoPage">
    <ion-col col-3>
      <img class="header-img" src="assets/img/rentou.png">
    </ion-col>
    <ion-col col-9>
      用户名：{{user.loginName}}
      <br/> {{user.role}}
    </ion-col>
  </ion-row>

  <!-- 未登录 -->
  <ion-row *ngIf="!isLogin" [navPush]="'LoginPage'">
    <ion-col col-3>
      <img class="header-img" src="assets/img/rentou.png">
    </ion-col>
    <ion-col col-9>
      <span margin-right [navPush]="'LoginPage'">登录</span>|
      <img class="jiantou" src="assets/img/jiantou3.png">
    </ion-col>
  </ion-row>

  <div class="line-spe"></div>

  <ion-list>
    <ion-item detail-push [navPush]="'DataOfflinePage'">
      离线数据
    </ion-item>
    <ion-item detail-push [navPush]="'DataCachePage'">
      缓存数据
    </ion-item>
    <ion-item detail-push [navPush]="'SetAccountPage'">
      设定账号
    </ion-item>
    <ion-item detail-push [navPush]="'FeedBackPage'">
      意见反馈
    </ion-item>
    <ion-item detail-push [navPush]="'SoftSetPage'">
      设置
    </ion-item>
  </ion-list>
</ion-content>